<h2>Course Info</h2>

<hr />

<form #courseForm='ngForm' *ngIf="course">
  <div class="form-group row mt-4">
    <label class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.name" required name="name" #courseName="ngModel"
        [ngClass]="{'is-invalid': courseName.invalid}" class="form-control">
      <div class="invalid-feedback">
        Course name is required
      </div>
    </div>
  </div>

  <div class="form-group row mt-4">
    <label class="col-sm-2 col-form-label">Price:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.price" required name="price" #coursePrice="ngModel" type="number"
        [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control">
      <div class="invalid-feedback">
        Course price is required
      </div>
    </div>
  </div>

  <div class="form-group row mt-4">
    <label class="col-sm-2 col-form-label">Code:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.code" required name="Code" #courseCode="ngModel"
        [ngClass]="{'is-invalid': courseCode.invalid}" class="form-control">
      <div class="invalid-feedback">
        Course code is required
      </div>
    </div>
  </div>

  <div class="form-group row mt-4">
    <label class="col-sm-2 col-form-label">Release Date:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.releaseDate" required name="Date" #courseReleaseDate="ngModel"
        [ngClass]="{'is-invalid': courseReleaseDate.invalid}" class="form-control">
      <div class="invalid-feedback">
        Course release date is required
      </div>
    </div>
  </div>

  <div class="form-group row mt-4">
    <label class="col-sm-2 col-form-label">Rating:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.rating" required name="rating" #courseRating="ngModel" type="number"
        [ngClass]="{'is-invalid': courseRating.invalid}" class="form-control">
      <div class="invalid-feedback">
        Course rating is required
      </div>
    </div>
  </div>

  <div class="form-group row mt-4">
    <label class="col-sm-2 col-form-label">Description:</label>
    <div class="col-sm-10">
      <textarea [(ngModel)]="course.description" required style="resize: none" name="description"
        class="form-control" rows="5"
        #courseDescription="ngModel" [ngClass]="{'is-invalid': courseDescription.invalid}"></textarea>
      <div class="invalid-feedback">
        <span>Course description is required</span>
      </div>
    </div>
  </div>

  <div class="form-group-btn mt-4">
    <button [disabled]="courseForm.invalid" (click)="save()" class="btn btn-primary">Save</button>
    <button [routerLink]="['/courses']" class="btn btn-secondary">Cancel</button>
  </div>

</form>
